<h4>Thank You for Booking</h4>
<p>Hey <%= @user.first_name %></p>
<p>
  One of our promises is to go wherever life takes you,<br><%= @booking.flight.destination.location %> is just one of them
</p>
<p>
  Your booking confirmation number is <span><%= @booking.uniq_id %></span>
</p>
<h5 class="text-center"><i class="fa fa-plane"></i> Flight from <%= "#{@booking.flight.origin.location} to #{@booking.flight.destination.location} on #{ @booking.flight.departure_date.strftime("%A, %b %-d %Y")}" %></h5>
<% @booking.passengers.each do |passenger| %>
  <li>
      <div class="row">
          <div class="col-xs-9">
              <p><%= "#{ passenger.first_name } #{ passenger.last_name }" %>
              </p>
          </div>
          <div class="col-xs-3">
              <p class="text-right"><span class="text-lg"><%= number_to_currency @booking.flight.price, delimiter: '.' %></span>
              </p>
          </div>
      </div>
  </li>
  <% end %>
